<div class="social">
  <span>
    <iframe src="http://ghbtns.com/github-btn.html?user=aktech&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20">
    </iframe>
  </span>

  <span class="tweet">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="iaktech">
      Tweet
    </a>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
  </span>

  <span class="fb-like" data-href={{ site.url  }}{{ page.url }} data-action="like" data-layout="button_count" data-show-faces="false" data-share="false" style="display: inline-flex;">
  </span>
</div>
