<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="keywords" content="aktech, amit kumar, dtu, maths, python, github">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Amit Kumar's Personal Blog">

  <!--
    manifest.json provides metadata used when your web app is added to the
    homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
  -->

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@iaktech" />
  <meta name="twitter:creator" content="@iaktech" />
  <meta name="twitter:title" content="Amit Kumar's Personal Blog" />
  <meta name="twitter:description" content="Amit Kumar's Personal Blog" />
  <meta name="twitter:image" content="https://iamit.in/assets/misc/summary_image.png" />
  <meta name="twitter:image:alt" content="Card image of Amit Kumar's Personal Blog" />
  <meta property="og:locale" content="en_US" />

  <meta property="og:title" content="Amit Kumar's Personal Blog" />
  <meta property="og:image" content="https://iamit.in/assets/misc/summary_image.png" />
  <meta property="og:url" content="https://iamit.in" />


  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- mixpanel -->
  {% include _mixpanel.html %}  

  </head>
