{{ define "main" }}
<div class="posts">
  {{ range .Site.RegularPages.ByDate.Reverse }}
  {{ if eq .Section "blog" }}
  <div class="index-post">
    <span class="post-date">
      <a href="{{ .Site.BaseURL }}blog/timeline" class="timeline">
        {{ .Date.Format "2 Jan 2006" }}
      </a>
    </span>

    <h2 class="post-title">
      <a href="{{ .Permalink }}">
        {{ .Title | safeHTML }}
      </a>
    </h2>

    <span class="post-tag">
      {{ if .Params.tags }}
      {{ $lastIndex := sub (len .Params.tags) 1 }}
      {{ range $index, $tag := .Params.tags }}
        {{ if eq $index $lastIndex }}
          <a href="{{ $.Site.BaseURL }}tags/#{{ $tag | urlize }}">
            {{ $tag }}
          </a>
        {{ else }}
          <a href="{{ $.Site.BaseURL }}tags/#{{ $tag | urlize }}">
            {{ $tag }}
          </a>
          &middot;
        {{ end }}
      {{ end }}
      {{ end }}
    </span>
  </div>
  {{ end }}
  {{ end }}
</div>
{{ end }}
