{{ define "main" }}
<div class="posts">
  {{ range .Site.RegularPages.ByDate.Reverse }}
  {{ if eq .Section "blog" }}
  <div class="index-post">
    <span class="post-date">
      <a href="{{ .Site.BaseURL }}blog/timeline" class="timeline">
        {{ .Date.Format "2 Jan 2006" }}
      </a>
    </span>

    <h2 class="post-title">
      <a href="{{ .Permalink }}">
        {{ .Title | safeHTML }}
      </a>
    </h2>

    <span class="post-tag">
      {{ if .Params.tags }}
      {{ $lastIndex := sub (len .Params.tags) 1 }}
      {{ range $index, $tag := .Params.tags }}
        {{ if eq $index $lastIndex }}
          <a href="{{ $.Site.BaseURL }}tags/#{{ $tag | urlize }}">
            {{ $tag }}
          </a>
        {{ else }}
          <a href="{{ $.Site.BaseURL }}tags/#{{ $tag | urlize }}">
            {{ $tag }}
          </a>
          &middot;
        {{ end }}
      {{ end }}
      {{ end }}
    </span>
  </div>
  {{ end }}
  {{ end }}

<div class="container bottom" style="font-size:15px">
    <hr>
    <p>
        <center>All content copyright &copy; <b>A</b>mit <b>K</b>umar  unless otherwise noted.
         Licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons</a>.
    </br>Find me on <a href="https://github.com/aktech">GitHub</a>, or shoot me an <a
    href="mailto:dtu.amit@gmail.com">email</a>. </center> </br> </br>
    </p>
</div>

</div>
{{ end }}
